{% extends 'basic_base.html' %}
<!-- Title -->
{% block title %}Add User{% endblock %}
<!-- Body -->
{% block content %}
<div class="row align-items-center justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Add a User
            </div>
            <div class="card-body">
                <!-- Form to add a user -->
                <form action="{% url 'add_user' %}" method="POST">
                    {% csrf_token %}
                    <div class="row my-4">
                        <div class="col">
                            <!-- Username Field -->
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="col">
                            <!-- Password Field -->
                            <input type="password" name="password" class="form-control" placeholder="Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- First Name Field -->
                            <input type="text" name="firstname" class="form-control" placeholder="First Name (optional)">
                        </div>
                        <div class="col">
                            <!-- Last Name Field -->
                            <input type="text" name="lastname" class="form-control" placeholder="Last Name (optional)">
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col">
                            <!-- Email Field -->
                            <input type="email" name="email" class="form-control" placeholder="Email (optional)">
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col text-end">
                            <!-- Button to add a user -->
                            <button type="submit" class="btn btn-success">
                                Add User
                            </button>
                        </div>
                        <div class="col">
                            <!-- Button to go back to index page -->
                            <button type="button" class="btn btn-secondary" onclick="window.location.href = '/'">
                                Go back
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Error or Success messages -->
{% if messages %} {% for message in messages %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4 col-8">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endfor %} {% endif %}

<!-- Table for all users -->
<div class="row align-items-center justify-content-center">
    <div class="col-8 py-4">
        <table class="table table-bordered table-hover">
            <thead class="bg-success">
                <tr class="text-white">
                    <th>Sr. No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Looping over to display all users -->
                {% for user in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <button type="button" title="Delete" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUser-{{ user.id }}">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </td>
                </tr>
                <!-- Modal for delete confirmation -->
                <div class="modal fade" id="deleteUser-{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <!-- Form to delete a user -->
                        <form action="{% url 'delete_user' %}" method="POST">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <!-- Displaying user values -->
                                <div class="modal-body">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <input type="text" value="{{ user.first_name }}" class="form-control" disabled>
                                    <input type="text" value="{{ user.last_name }}" class="form-control my-4" disabled>
                                    <input type="text" value="{{ user.username }}" class="form-control my-4" disabled>
                                    <input type="text" value="{{ user.email }}" class="form-control" disabled>
                                </div>
                                <div class="modal-footer">
                                    <!-- This button will close the modal -->
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <!-- This button will delete the selected user -->
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}