{% extends "base.html" %}
<!-- Title -->
{% block title %}flights{% endblock %}
<!-- Body -->
{% block content %}
<!-- Error or Success messages -->
{% if messages %} {% for message in messages %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4 col-8">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endfor %} {% endif %}
<!-- Displaying table for list of flights -->
<div class="row justify-content-center">
    <div class="col">
        <table class="table table-bordered table-hover">
            <thead class="bg-success">
                <tr class="text-white">
                    <th>Flight</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Terminal</th>
                    <th>Aircraft</th>
                    <th>Capacity</th>
                    <th>Crew</th>
                </tr>
            </thead>
            <tbody>
                <!-- Looping over for multiple flights  -->
                {% for flight in page_obj %}
                <tr onclick="window.location.href = 'flight/{{ flight.id }}'">
                    <td>{{ flight.flight }}</td>
                    <td>{{ flight.departure }}</td>
                    <td>{{ flight.arrival }}</td>
                    <td>{{ flight.terminal }}</td>
                    <td>{{ flight.aircraft }}</td>
                    <td>{{ flight.capacity }}</td>
                    <td>{{ flight.crew }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Pagination Display -->
        <div class="alert alert-light page">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span> {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endif %}
            </span>
        </div>
    </div>
</div>
{% endblock %}