{% extends "base.html" %}
<!-- Title -->
{% block title %}Document{% endblock %}
<!-- Body -->
{% block content %}
<!-- Error or Success messages -->
{% if messages %} {% for message in messages %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-8">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>
{% endfor %} {% endif %}
<!-- Display of index page -->
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card dashboard-card m-5 p-5">
            <div class="card-header">
                <!-- Welcoming user with some text message -->
                <h3 class="text-capitalize">hello {{ request.user.username }}</h3>
            </div>
            <div class="card-body">
                <h5>Welcome to the Greenline Passenger Targeting System</h5>

                <hr class="my-4">
                <label>You can upload a file from below for selected category</label>
                <!-- Form to store imported file data -->
                <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <!-- Dropdown for selecting the category of file -->
                            <select name="category" class="form-select">
                                <option value="" selected disabled>-- Select Category --</option>
                                <option value="airlines">Airlines Data</option>
                                <option value="airport">Airport Data</option>
                                <option value="flight">Flight Data</option>
                                <option value="passenger">Passenger Data</option>
                                <option value="risk">Risk Profile</option>
                            </select>
                        </div>
                        <!-- Filefield for selecting a file -->
                        <div class="col-12 p-2">
                            <input type="file" name="file" class="form-control">
                        </div>
                        <!-- Submit button -->
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}