{% extends "base.html" %}
<!-- Title -->
{% block title %}Passengers{% endblock %}
<!-- Body -->
{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <table class="table table-bordered">
            <thead class="bg-success">
                <tr class="text-white">
                    <th>Flight</th>
                    <th>Seat Number</th>
                    <th>Forename</th>
                    <th>Family Name</th>
                    <th>Passport Number</th>
                    <th>Country of Issue</th>
                </tr>
            </thead>
            <tbody>
                {% for passenger in passengers %}
                <tr>
                    <td>{{ passenger.f_id.flight }}</td>
                    <td>{{ passenger.seat_number }}</td>
                    <td>{{ passenger.p_id.forename }}</td>
                    <td>{{ passenger.p_id.family_name }}</td>
                    <td>{{ passenger.p_id.passport_number }}</td>
                    <td>{{ passenger.p_id.country_of_issue }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}