.linear-gradient {
    background: -webkit-linear-gradient(top left, black, #152438, #4fe588);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.dashboard-gradient {
    background: -webkit-linear-gradient(top left, black, #152438, #4fe588);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width:768px) {
    .linear-gradient {
        background-size: 100% 200%;
    }
    .nav-link {
        width: auto !important;
        text-align: center !important;
    }
    .nav-link:hover {
        color: #fff;
        background-color: #4fe588;
        border: 1px solid #152438;
        text-align: center;
    }
}

@media (max-height: 768px) {
    .position-fixed {
        position: relative !important;
    }
}

body {
    background-color: whitesmoke !important;
}


/* Sidebar */

.nav-link {
    color: #fff !important;
    background-color: #152438 !important;
    border: 1px solid #4fe588 !important;
    margin-bottom: 0.5rem;
    width: 190px;
    text-align: start;
}

.btn:active {
    background-color: yellow;
}

.btn.active {
    color: #333;
    background-color: red;
}

.nav-item .active {
    color: #fff !important;
    background-color: #4fe588 !important;
    border: 1px solid #152438 !important;
}

.nav-link:hover {
    color: #fff;
    background-color: #8bd0a5d4 !important;
    border: 1px solid #152438 !important;
}

li .active {
    color: #fff !important;
    background-color: #4fe588 !important;
    border: 1px solid #152438 !important;
}


/* Cards */

.dashboard-card {
    background: -webkit-linear-gradient(137deg, #4fe588, #62c989, black);
    background-repeat: no-repeat;
    box-shadow: 1px -1px 10px 0px #000000;
    border-radius: 10px !important;
    border: 1px solid #4fe588 !important;
    outline: white;
    color: white !important;
}

.br-green {
    border-right: 1px solid #4fe588;
}


/* Table styling */

tr:hover {
    cursor: pointer;
}