{% extends 'risks/base.html' %}
<!-- Title -->
{% block title %}Airport Risk{% endblock %}

<!-- Heading -->
{% block heading %}
<!-- Displaying the selected arport name with their IATA Code -->
<h3>Airport Risk: {{ airport.long_name }} ({{ airport.iata_code }})</h3>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <script>
        // Create the chart
        Highcharts.chart('overview', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Risk Overview'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{
                name: "Risk",
                colorByPoint: true,
                data: (function() {
                    var data = [];
                    const risks = JSON.parse('{{ js_risk | escapejs }}');
                    const passengers = JSON.parse('{{ js_passenger_overall | escapejs }}');
                    // Looping over to display multiple risk
                    for (var i = 0; i < risks.length; i++) {
                        data.push({
                            name: risks[i]['name'],
                            y: passengers['Overall'][risks[i]['name']],
                            drilldown: risks[i]['name'],
                        });
                    }
                    return data;
                }())
            }],
        });
    </script>
</div>
<!-- Looping over to display every risk in different tab -->
{% for risk in risks %}
<div class="tab-pane fade" id="{{ risk.name|cut:' ' }}" role="tabpanel" aria-labelledby="{{ risk.name }}-tab">
    <script>
        Highcharts.chart('{{ risk.name|cut:" " }}', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true,
                type: 'pie'
            },
            title: {
                text: '{{ risk.name }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Risk',
                colorByPoint: true,
                data: (function() {
                    var data = [];
                    const passengers = JSON.parse('{{ js_passenger | escapejs }}');
                    // Looping over to display multiple risk according to flights arrival
                    for (var i = 0; i < Object.keys(passengers).length; i++) {
                        data.push({
                            name: Object.keys(passengers)[i],
                            y: Object.values(passengers)[i]['{{ risk.name }}'],
                            sliced: true,
                            selected: true
                        });
                    }
                    return data;
                }())
            }]
        });
    </script>
</div>
{% endfor %}
<!-- To return back to airport list page -->
<a href="/airports" class="btn btn-secondary my-4">Go Back</a> {% endblock %}