{% extends 'risks/base.html' %}
<!-- Title -->
{% block title %}Flight Risk{% endblock %}

<!-- Heading -->
{% block heading %}
<h3>Flight Risk: {{ flight.flight }} ({{flight.aircraft}})</h3>
{% endblock %}

<!-- Body -->
{% block body %}
<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    <script>
        // Create the chart
        Highcharts.chart('overview', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Risk Overview'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{
                name: "Risk",
                colorByPoint: true,
                data: [{
                    name: "Terrorism",
                    y: 62.74,
                    drilldown: "Terrorism"
                }, {
                    name: "Narcotics",
                    y: 10.57,
                    drilldown: "Narcotics"
                }, {
                    name: "Smuggling",
                    y: 7.23,
                    drilldown: "Smuggling"
                }, {
                    name: "Illegal Immigration",
                    y: 5.58,
                    drilldown: "Illegal Immigration"
                }, {
                    name: "Revenue",
                    y: 4.02,
                    drilldown: "Revenue"
                }]
            }],
        });
    </script>
</div>
{% for risk in risks %}
<div class="tab-pane fade" id="{{ risk.name|cut:' ' }}" role="tabpanel" aria-labelledby="{{ risk.name|cut:' ' }}-tab">
    <script>
        Highcharts.chart('{{ risk.name|cut:" " }}', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true,
                type: 'pie'
            },
            title: {
                text: '{{ risk.name }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Risk',
                colorByPoint: true,
                data: [{
                    name: 'Chrome',
                    y: 61.41,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Internet Explorer',
                    y: 11.84
                }]
            }]
        });
    </script>
</div>
{% endfor %} {% endblock %}