{% extends 'risks/base.html' %}
<!-- Title -->
{% block title %}Passenger Risk{% endblock %}

<!-- Heading -->
{% block heading %}
<h3>Passenger Risk: {{ passenger.p_id.forename }} {{ passenger.p_id.family_name}}</h3>
{% endblock %}

<!-- Passenger Body -->
{% block body %}
<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">

    <script>
        // Create the chart
        Highcharts.chart('overview', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Risk Overview'
            },
            accessibility: {
                announceNewData: {
                    enabled: true
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total percent'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y:.1f}%'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
            },

            series: [{

                name: "Risk",
                colorByPoint: true,
                data: (function() {
                    var data = [];
                    const risks = JSON.parse('{{ js_risk | escapejs }}');
                    const passengers = JSON.parse('{{ js_passenger | escapejs }}');

                    for (var i = 0; i < risks.length; i++) {
                        data.push({
                            name: risks[i]['name'],
                            y: passengers[i]['value'],
                            drilldown: risks[i]['name'],
                        });
                    }
                    return data;
                }())
            }],
        });
    </script>
</div>
{% for risk in p_risk %}
<div class="tab-pane fade" id="{{ risk.r_id.name|cut:' ' }}" role="tabpanel" aria-labelledby="{{ risk.name }}-tab">
    <script>
        Highcharts.chart('{{ risk.r_id.name|cut:" " }}', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true,
                type: 'pie'
            },
            title: {
                text: '{{ risk.name }}'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            series: [{
                name: 'Risk',
                colorByPoint: true,
                // data: (function() {
                //         console.log(parseInt('{{ risk.value }}'))

                //         var data = [];

                //         data.push({
                //             name: '{{ risk.r_id }}',
                //             y: '{{ risk.value }}',
                //             sliced: true,
                //             selected: true
                //         });
                //         console.log(data);
                //         return data;
                //     }())
                data: [{
                    name: '{{ risk.r_id.name }}',
                    y: parseInt('{{ risk.value }}'),
                    sliced: true,
                    selected: true
                }]
            }]
        });
    </script>

</div>
{% endfor %}
<a href="/" class="btn btn-secondary my-4">Go back</a> {% endblock %}